{% extends "control_plane_base.html" %}
{% load i18n static %}

{% block cp_title %}{{ hub_title }}{% endblock %}

{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'css/rmc-cp-compact-surface.css' %}">
  <link rel="stylesheet" href="{% static 'css/theme-builder-canvas.css' %}">
  <link rel="stylesheet" href="{% static 'css/theme-experience-premium.css' %}">
  <link rel="stylesheet" href="{% static 'css/site-settings-preview.css' %}">
{% endblock %}

{% block cp_workspace_header %}{% endblock %}

{% block cp_content %}
<div class="visually-hidden rmc-empty-state-sentinel" aria-describedby="rmc_smart_action_hub" data-rmc-scroll-policy="paginate" data-page-critical-read="1" aria-hidden="true"></div>
<div class="visually-hidden" data-page-critical-read="1" aria-hidden="true"></div>

{% include "components/next_action_strip.html" %}

  {% include "siteconfig/partials/theme_experience_hub_body.html" %}
{% endblock %}

{% block extrajs %}
  {{ block.super }}
  <script src="{% static 'js/theme-builder-canvas.js' %}" defer></script>
{% endblock %}
