# Python
__pycache__/
*.py[cod]
*.pyd
*.pyo
*.pkl
.venv/
venv/
.env

# Django
*.log
local_settings.py
staticfiles/
media/

# DB
*.sqlite3

# OS
.DS_Store
Thumbs.db
nul

# Cursor / worktrees
.cursor/

# IDE
.vscode/
.idea/

# Frontend build artifacts
node_modules/
package-lock.json
