{% extends "base.html" %}
{% load i18n static %}

{% block title %}{% trans "Verify your sign-in" %}{% endblock %}
{% block page_archetype %}security-workbench{% endblock %}

{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/rmc-account-surface.css' %}">
{% endblock %}

{% block content %}
<div class="visually-hidden" data-page-critical-read="1" aria-hidden="true"></div>

{% include "components/next_action_strip.html" %}

{% include "accounts/partials/mfa_verify_page_body.html" %}
{% endblock %}
